.forgot-password-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.forgot-password-container .login-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
}
.forgot-password-container .login-nav .logo {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password-container .login-nav .logo img {
  width: 100%;
}
.forgot-password-container .login-nav p {
  font-size: 0.8rem;
  font-weight: bold;
}
.forgot-password-container .image-container {
  padding-top: 70px;
  background-color: azure;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forgot-password-container .image-container .image-content {
  width: 70%;
  height: 350px;
  margin-block: 3rem;
}
.forgot-password-container .image-container .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px 0px;
}
.forgot-password-container .image-container h1 {
  font-size: 1.7rem;
  margin-bottom: 5px;
}
.forgot-password-container .image-container p {
  margin-bottom: 1rem;
}
.forgot-password-container .login-container {
  padding-block: 70px 20px;
  width: 50%;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password-container .login-container .login-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.forgot-password-container .login-container .login-content h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: -10px;
}
.forgot-password-container .login-container .login-content p {
  font-size: 0.7rem;
}
.forgot-password-container .login-container .login-content .login {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.forgot-password-container .login-container .login-content .login .input-container label {
  display: inline-block;
  margin-block: 6px;
  font-size: 0.7rem;
  font-weight: 500;
}
.forgot-password-container .login-container .login-content .login .input-container input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(116, 100, 100, 0.4039215686);
  outline: none;
  padding-inline: 1rem;
  font-size: 1rem;
}
.forgot-password-container .login-container .login-content .login .input-container input:focus {
  border: 1px solid #000;
}
.forgot-password-container .login-container .login-content .login .action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password-container .login-container .login-content .login .action button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.forgot-password-container .login-container .login-content .login .action button:hover {
  background-color: rgb(10, 10, 226);
}
.forgot-password-container .login-container .login-content .redirection {
  margin: auto;
}
.forgot-password-container .login-container .login-content .redirection p {
  margin-top: 1rem;
}
@media screen and (max-width: 750px) {
  .forgot-password-container .image-container {
    display: none;
  }
  .forgot-password-container .login-container {
    width: 100%;
  }
  .forgot-password-container .login-container .login-content {
    width: 90%;
  }
  .forgot-password-container .login-container .login-content .social-logins button span {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password-container .login-container .login-content {
    width: 100%;
  }
  .forgot-password-container .login-container .login-content h1 {
    font-size: 1.1rem;
  }
  .forgot-password-container .login-container .login-content .social-logins button span {
    display: none;
  }
  .forgot-password-container .login-container .login-content .redirection {
    margin-top: -1rem;
  }
}/*# sourceMappingURL=forgotPassword.css.map */